<img src="../../Img/backdrop-wh.png" alt="Drawing" style="width: 300px;"/>

<div style="display: block; width: 100%; height: 100px;">

<p style="float: left;">
    <span style="font-weight: bold; font-size: 20px;">
        DIGHUM160 - Critical Digital Humanities 
        <br />
        Instructor: Tom van Nuenen<br />
        Final Project
    </span>
</p>

**Project title:** ```<enter your title here>```

**Student name:** ```<enter your name here>```

Word limit: Between 2500 and 3000 words (excluding code cells, outputs, and references).

In [ ]:
# set up your environment

import pandas as pd
import json

# < import other packages here >

## Introduction

[Discuss why you are doing this research, what dataset you are analysing, and why this dataset matters. Introduce research questions / thesis statment. Discuss your own relation to the data, your prejudgements and expectations. Refer to background literature and/or embed video material about the data, referencing to the bibliography]

## Analysis

[Reflect on the meaning or impact of your findings, and on the research design. In your findings, focus on the process of interpretation in the community. Include both close and distant reading methods, and produce a compelling argument.]

[Alternate between code and text.]

### This is a subsection

\< load the data \>

In [2]:
# Add as many code cells as you need
# use plenty of comments to explain what you do. Comments do not count towards the word limit.
# In the narrative parts, you may refer to code cells to illustrate your points

In [3]:
# for example, load some data
world_df = pd.read_csv('data/world_bank_indicators_countries-2019.csv')

world_df.sample(5)

,iso_a2,iso_a3,name,name_long,abbrev,type,continent,region_un,subregion,region_wb,...,ny.gdp.mktp.cd,ny.gdp.mktp.pp.cd,sl.isv.ifrm.zs,sp.pop.grow,sp.pop.totl,sp.rur.totl.zs,sp.urb.totl.in.zs,region,income_group,eu
176,PM,SPM,St. Pierre and Miquelon,Saint Pierre and Miquelon,St. P.M.,Dependency,North America,Americas,Northern America,North America,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
207,SZ,SWZ,eSwatini,eSwatini,eSw.,Sovereign country,Africa,Africa,Southern Africa,Sub-Saharan Africa,...,4.471599e+09,1.033703e+10,NaN,1.045309,1148130.0,76.019,23.981,Sub-Saharan Africa,Lower middle income,NaN
203,ST,STP,São Tomé and Principe,São Tomé and Principe,S.T.P.,Sovereign country,Africa,Africa,Middle Africa,Sub-Saharan Africa,...,4.186374e+08,8.914559e+08,NaN,1.890763,215056.0,26.402,73.598,Sub-Saharan Africa,Lower middle income,NaN
174,PK,PAK,Pakistan,Pakistan,Pak.,Sovereign country,Asia,Asia,Southern Asia,South Asia,...,2.782219e+11,1.060748e+12,NaN,2.029215,216565318.0,63.093,36.907,South Asia,Lower middle income,NaN
202,SS,SSD,S. Sudan,South Sudan,S. Sud.,Sovereign country,Africa,Africa,Eastern Africa,Sub-Saharan Africa,...,NaN,NaN,NaN,0.782224,11062113.0,80.101,19.899,Sub-Saharan Africa,Low income,NaN

<To discuss and analyse a piece of data or a result, use a markdown cell>

In [4]:
# use comments to document and explain your code, not for interpretation/analysis.

### This is a subsection

\< select interesting data \>

In [5]:
# more code here

\< More discussion \>

In [6]:
# more code

### This is a subsection

\< discuss results \>

You can embed figures as needed using `<img>` or the markdown syntax.

<img src="figures/babylonian_map.png" width="400" />
Figure 1: The Babylonian Map of the World is a Babylonian tablet dated to the 6th century BC.

In [7]:
# write the discussion of results after the relevant code.

## Conclusions
[Very succinctly, talk about all of the findings and reflect on further research that could emerge from this project. Be specific, and avoid generalizations.]

## References

< insert your references here >

Manovich, L. (2020). Cultural analytics. Cambridge, MA: MIT Press.

In [ ]:
# This code cell will give you a word count, in case you need it. 
# Note that this opens the file you are currently in, so make sure to save it first to get an accurate word count.

with open('DIGHUM160_essay_yourlastname.ipynb',encoding='utf-8') as json_file:
    data = json.load(json_file)

wordCount = 0
for each in data['cells']:
    cellType = each['cell_type']
    if cellType == "markdown":
        content = each['source']
        for line in content:
            # you might want to filter for more markdown keywords here
            temp = [word for word in line.split() if "#" not in word] 
            wordCount = wordCount + len(temp)
            
print(wordCount)